@import "../../style.scss";

.share{
    @include themify($themes){
        margin: 0 15px; 
        background-color: themed(bgColor);
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 20px;

        .container{
            padding: 15px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .top{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                // gap: 30px;
                align-items: center;

                img{
                    width: 35px;
                    height: 35px;
                    object-fit: cover;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .imgUpload{
                    .file{
                        width: 35px;
                        height: 35px;
                        object-fit: cover;
                        border-radius: 0;
                    }
                }

                input{
                    width: 85%;
                    border: none;
                    outline: none;
                    font-size: 16px;
                    color: themed(textColorSoft);
                    background-color: themed(bgColorSoft);
                    padding: 10px 20px;
                    border-radius: 50px;
                    cursor: text;

                    @include mobile{
                        width: 70%;
                        font-size: 12px;
                    }

                    @include tablet{
                        font-size: 14px;
                    }
                }
            }

            .bottom{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .items{
                    display: flex;
                    flex-direction: row;
                    gap: 50px;

                    @include mobile{
                        gap: 20px;
                        font-size: 12px;
                    }

                    @include tablet{
                        gap: 20px;
                        font-size: 14px;
                    }

                    .item{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        cursor: pointer;
                        color: themed(textColor);
                        gap: 10px;
                        height: 35px;
                        padding: 0 10px;
                        border-radius: 5px;
                        transition: 1s all ease-in-out;

                        @include mobile{
                            padding: 0;
                            gap: 5px;
                        }

                        @include tablet{
                            padding: 0;
                            gap: 5px;
                        }

                        &:hover{  
                            // border-bottom: 1px solid themed(bgColorSoft);
                            background-color: themed(bgColorSoft);
                        }
                    }
                }
                
                button{
                    border: none;
                    font-weight: 600;
                    padding: 5px 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color: #0054b4;
                    color: white;
                }
            }

            hr{
                border: none;
                height: 0.7px;
                background-color: themed(borderColor);
                // margin: 0 50px;
                opacity: 0.7;
            }
        }
    }
}